.cuadro{
    border: 3px solid rgb(18, 2, 13); /* Borde de 2px de grosor y color negro */
    padding: 20px; /* Espacio interno dentro del cuadro */
    margin: 10px; /* Espacio externo alrededor del cuadro */
    width: 300px; /* Ancho del cuadro */
    text-align: center; /* Centrar el contenido del texto */
    border-radius: 10px;
    box-shadow: 0px 0px 20px #010328;
}