.center {
    color: #1ce64f;
    position: absolute;
    top: 300px; /* Ajusta la distancia desde la parte superior */
    left: 110px;
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    
  }